@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
    url(./fonts/merriweather/Merriweather-Regular.otf) format('opentype');
  unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'),
        url(./fonts/merriweather/Merriweather-Regular.otf) format('opentype');
    unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
        U2212, U2215, UE0FF, UEFFD, UF000; }

    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 700;
      src: local('Merriweather Bold'), local('Merriweather-Bold'),
            url(./fonts/oswald/Merriweather-Bold.otf) format('opentype');
      unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

      @font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        src: local('Merriweather Bold'), local('Merriweather-Bold'),
                url(./fonts/merriweather/Merriweather-Bold.otf) format('opentype');
        unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                U2212, U2215, UE0FF, UEFFD, UF000; }

        @font-face {
          font-family: 'Merriweather';
          font-style: italic;
          font-weight: 400;
          src: local('Merriweather Italic'), local('Merriweather-Italic'),
                    url(./fonts/merriweather/Merriweather-Italic.otf) format('opentype');
          unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

          @font-face {
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 400;
            src: local('Merriweather Italic'), local('Merriweather-Italic'),
                        url(./fonts/merriweather/Merriweather-Italic.otf) format('opentype');
            unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                        U2212, U2215, UE0FF, UEFFD, UF000; }

            @font-face {
              font-family: 'Merriweather';
              font-style: italic;
              font-weight: 700;
              src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
                            url(./fonts/merriweather/Merriweather-BoldItalic.otf) format('opentype');
              unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

              @font-face {
                font-family: 'Merriweather';
                font-style: italic;
                font-weight: 700;
                src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
                                url(./fonts/merriweather/Merriweather-BoldItalic.otf) format('opentype');
                unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                U2212, U2215, UE0FF, UEFFD, UF000; }

                @font-face {
                  font-family: 'Oswald';
                  font-style: normal;
                  font-weight: 300;
                  src: local('Oswald Light'), local('Oswald-Light'),
                                    url(./fonts/oswald/Oswald-Light.otf) format('opentype');
                  unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

                  @font-face {
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 300;
                    src: local('Oswald Light'), local('Oswald-Light'),
                                        url(./fonts/oswald/Oswald-Light.otf) format('opentype');
                    unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                        U2212, U2215, UE0FF, UEFFD, UF000; }

                    @font-face {
                      font-family: 'Oswald';
                      font-style: normal;
                      font-weight: 400;
                      src: local('Oswald Regular'), local('Oswald-Regular'),
                                            url(./fonts/oswald/Oswald-Regular.otf) format('opentype');
                      unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

                      @font-face {
                        font-family: 'Oswald';
                        font-style: normal;
                        font-weight: 400;
                        src: local('Oswald Regular'), local('Oswald-Regular'),
                                                url(./fonts/oswald/Oswald-Regular.otf) format('opentype');
                        unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                                U2212, U2215, UE0FF, UEFFD, UF000; }
input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.1s, border-color 0.1s, background-color 0.1s;
  -moz-transition: box-shadow 0.1s, border-color 0.1s, background-color 0.1s;
  -o-transition: box-shadow 0.1s, border-color 0.1s, background-color 0.1s;
  transition: box-shadow 0.1s, border-color 0.1s, background-color 0.1s;
  background-color: #eeeeee;
  border: 1px solid transparent;
  color: #444444;
  font-family: "Oswald", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.2px;
  padding: 4px 6px;
  width: 100%; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aaaaaa; }
    input:-moz-placeholder, textarea:-moz-placeholder {
      color: #aaaaaa; }
      input::-moz-placeholder, textarea::-moz-placeholder {
        color: #aaaaaa; }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
          color: #aaaaaa; }
          input:hover, textarea:hover {
            border-color: #aaaaaa; }
            input:disabled, textarea:disabled {
              border: 1px solid transparent;
              color: #aaaaaa; }
              input:focus, textarea:focus {
                background-color: white;
                border-color: #aaaaaa;
                box-shadow: inset 0 0 2px #aaaaaa;
                outline: 0; }
